<!-- {% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <script src='https://kit.fontawesome.com/692189991f.js' crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'hotel/css/bookings.css' %}">
</head>
<body>
    <div class="content">
        <div class="headings">
            <h1> Tus Reservas</h1>
            <h2>Hola {{ user }}</h2>
        </div>
        <div class="home">
            <div class="home">
                <a href="{% url 'hotel:index' %}"><i class="fas fa-arrow-alt-circle-left">Inicio</i></a>
            </div>
        </div>
        <div class="bookings">
            
            {% for booking in booking_list %}
            <div class="booking">
                <img src="" alt="">
                <div class="category">
                    <h2>Cabańa {{booking.apartment.category}}</h2>
                </div>

                <div class="form">
                    <h3> Usuario:{{booking.user}}</h3>
                </div>
                <div class="form">
                    <h3> Desde:{{booking.check_in}}</h3>
                </div>
                <div class="form">
                    <h3> Hasta:{{booking.check_out}}</h3>
                </div>
                <div class="form">
                    <h3> Capacidad:{{booking.apartment.capacity}}</h3>
                </div>
                <div class="form">
                    <h3> Días de reserva: {{booking.get_dias}}</h3>
                </div>
                <div class="form">
                    <h3> Precio: ${{booking.get_total}}</h3>
                </div>
                <div class="cancel"><a href="{{ booking.get_cancel_booking_url }}" class="invisible"><i class="far fa-2x fa-times-circle">Cancelar Reserva</i></a></div>

            </div>
            {% endfor %}
                
        </div>
    </div>

</body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaracuraWeb</title>
    <link rel="stylesheet" href="{% static 'hotel/css/index.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet"> 
</head>
<body>
    <!-- <div class="home">
        <h1 class="h1">Cabañas Saracura</h1>
    </div> -->
    <header>
        <img src="{% static 'alojamiento/images/slide02.jpg' %}" alt="banner">

        
    </header>

    <section class="main">
        <h1 class="h1">Cabañas de Selva</h1>
        <h2 class="h2">Equipadas para tu confort a Minutos del centro de El Soberbio.</h2>
        <div class="main__container">
            
            <div class="targeta">
                <div class="img"><img src="{% static 'alojamiento/images/pic02.jpg' %}" alt="cab1"></div>
                <div class="txt">
                    <h1>Cabaña para 5 personas</h1>
                    <h2>Dos habitaciones</h2>
                    <p>Habitación con Aire: Cama doble, cama simple. Habitación con ventilador: Dos camas simples.  Cocina y comedor equipado con vajilla. Jardín y quincho con parrillero. Cochera disponible.</p>
                    <b><a href="{% url 'hotel:ApartmentDetail' 'Saracura' %}">RESERVALA YA!</a></b>
                </div>
            </div>
            <div class="targeta">
                <div class="img"><img src="{% static 'alojamiento/images/pic03.jpg' %}" alt="cab2"></div>
                <div class="txt">
                    <h1>Cabaña para 3 personas</h1>
                    <h2>Habitación con Aire</h2>
                    <p>Habitación con cama doble. Cocina y comedor equipado con vajilla. Sofácama. Jardín y quincho con parrillero. Cochera disponible.</p>
                    <b><a href="{% url 'hotel:ApartmentDetail' 'PaCaa' %}">RESERVALA YA!</a></b>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper">
        <img src="{% static 'alojamiento/images/BARRA_LA_SELVA_TE_ESPERA.jpg' %}" alt="">

    </section>
    <section class="galeria">
        <h2>Desayuno incluido: Infusiones a elección(Café, Té, Leche). Pan y Dulces caseros, manteca, "Melado artesanal".</h2>
        <br>
        <div class="grid__container">
            <div class="grid__item"><img src="{% static 'alojamiento/images/int01.jpg' %}" alt="1"></div>
            <div class="grid__item"><img src="{% static 'alojamiento/images/int02.jpg' %}" alt="2"></div>
            <!-- <div class="grid__item"><img src="{% static 'alojamiento/images/int03.jpg' %}" alt="3"></div> -->
            <div class="grid__item"><img src="{% static 'alojamiento/images/int04.jpg' %}" alt="4"></div>
        </div>
    </section>
    <footer>
        <!-- <div class="footer__container">
            <ul class="icons">

                <li><a href="#" ><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" ><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="#" ><i class="far fa-envelope"></i></a></li>

            </ul>
        </div>
        <div class="copyright">
            &copy; SaracuraWeb. Todos los derechos reservados.
        </div> -->
        <img src="{% static 'alojamiento/images/BARRA_abajo.png' %}" alt="">

    </footer>
</body>
</html>