/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(46, 47, 48);
    color: rgb(236, 235, 228);
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
}
.header{
    flex: 1;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    align-items: center;
}
.headings{
    flex: 1.5;
}
.home{
    flex: 0.1;
}
.bookings{
 margin-top: 2rem;
 flex: 1;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-evenly;   
}
.booking{
    flex: 1;
    max-width: 200vw;
    min-width: 20rem;
    text-align: left;
    border: 1px solid #dbdbdb;
    padding: 1rem;
    border-radius: 0.75rem;
    margin: 1rem;
}
.booking:hover{
    cursor: pointer;
}
img{
    max-width: 100%;
}
a i{
    margin: 1rem;
    color: rgb(236, 235, 228);
    text-decoration: none;
}
.home a i{
    font-size: 1.7rem;
}
h1, h2{
    margin: 1rem;
}
.booking a i{
    font-size: 1.1rem;
    visibility: hidden;
    opacity: 0.5;
    transition: linear;
}
.booking:hover .cancel a i, .cancel a i:hover{
    visibility: visible;
    opacity: 1;
}
.cancel a i:hover{
    color: rgb(206, 43, 43);
} */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
    max-width: 100%;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,500&display=swap');  
body{
  background-color: #fcecc2 ;
  font-family: 'Roboto', sans-serif;
  border: none;
  margin: 0;
  padding: 0;

}
header{
    object-fit: contain;
    overflow: hidden;
    height: 100vh;
    position: relative;
    z-index: 0;
}
.home .h1{
  position: absolute;  
    margin: 2em;
    z-index: 100;
    color: rgb(49, 49, 49);
}
.home .h1:hover{
    color: #f2f2f2;
}
header.img{
    position: relative;
    z-index: 50;
    width: 100vw;
}
.main{
  background-color: #fcecc2 ;
    padding: 1em;
    text-align: center;
}
.main .h1, .h2{
  color: #62763e;
  font-family: 'Satisfy', sans-serif;

}
.main__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
    background-color: #fcecc2 ;
  }

.targeta{

    max-width:40%;
    min-width: 200px;
    text-align: center;
    padding:1rem;
    margin:0.5rem;
    background-color: #fff;
    flex: 1;
}

.targeta:hover{
  background-color:#fcecc2;
}

.targeta h2{
    margin: 0.25rem;
}
.targeta .txt b a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
}
.targeta img{
    max-width:99  vw;
} 

.targeta p{
    margin: 1em;
}

.wrapper{
  text-align: center;    
  margin: 0;
  padding: 0;
  background-color: #fcecc2;
  color: white;

}
.galeria{
  background-color: #fcecc2 ;
  text-align: center;
    padding: 1em;
  }
.galeria h1{    
  margin: 0;
}
.galeria h2{

  color: #62763e;
  font-family: 'Satisfy', sans-serif;

}
.galeria .grid__container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-columns: 150px;
  grid-auto-rows: 350px ;
  grid-auto-flow: dense;
  grid-gap: 10px;
  margin: 2em;

}

.grid__item{
    background-color: white;
    padding: 1em;
    object-fit: cover;
    max-width: 40vw;
}

.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productos{
  background-color: #fcecc2;

}
.productos .container{
  display: block;
  background-color: #fcecc2;

  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8em;
}
footer{
  text-align: center;
  padding: 0;
  margin: 0;
  background-color:#fcecc2;
  color: white;
}
footer .footer__container .icons{
    display: flex;
    justify-content: center ;
    padding: 0;
    margin: 0;
}
footer .footer__container li{
  padding: 0;
  margin: 0;
      display: flex;
    flex-direction: row;
}
footer li{
  padding: 0;
  margin: 0;
    list-style: none;
}
@media (max-width: 991px){

  header{
    overflow: hidden;
    width: 100vw;
    height: auto;
    object-fit: cover;
}
/* header.img{
  height: 150vh;
} */

.main  h1{
  font-size: 20px;

}
.main  h2{
  font-size: 15px;

}
.main  p{
  font-size: 13px;

}

.targeta{

  max-width:100%;
  min-width: 200px;
  text-align: center;
  padding:0.5rem;
  margin:0.5rem;
  background-color: #fff;
  flex: 1;
}

.galeria{
  background-color: #fcecc2 ;
  text-align: center;
  padding: 1em;
}
.galeria h1{    
margin: 0;
}
.galeria .grid__container{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
grid-auto-columns: 150px;
grid-auto-rows: 350px ;
grid-auto-flow: dense;
grid-gap: 10px;
margin: .5em;

}

.grid__item{
  background-color: white;
  padding: 1em;
  object-fit: cover;
  max-width: 90vw;
}

.galeria img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productos .container{
  display: block;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
footer{
  text-align: center;
  padding: 0em;
  background-color: #fcecc2;
  
  padding: 0;
  margin: 0;
}
footer .footer__container .icons{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center ;
}
footer .footer__container li{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
footer li{
  padding: 0;
  margin: 0;
  list-style: none;
}

}