{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Detail</title>
    <script src="https://kit.fontawesome.com/692189991f.js" crossorigin="anonymous"></script>

    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'hotel/css/detail.css' %}">

</head>

<body>

    <!-- Main Content -->
    <div class="content">

        <!-- Room Image -->
        <div class="image">
            <img
                src="{{ apartment_img.url }}">
        </div>

        <!-- Room Details -->
        <div class="room">

            <!-- Div 1: Back to Home -->
            <div class="home">
                <a href="{% url 'hotel:index' %}"><i class="fas fa-arrow-alt-circle-left">Home</i></a>
            </div>

            <!-- Div 2: Room Information -->
            <div class="room-info">
                <h1>{{apartment_category}}</h1>
                <p>{{apartment_desc}} </p>
            </div>

            <!-- Div 3: Room Booking Form -->
            <!-- <form id="booking-form" action="" method="POST">
                {% csrf_token %}
                <div class="input-div">
                    <label for="id_check_in">Check In : </label>
                    <input type="date" id="id_check_in" name="check_in">
                </div>
                <div class="input-div">
                    <label for="id_check_out">Check Out : </label>
                    <input type="date" id="id_check_out" name="check_out">
                </div>
                <div class="input-div">
                    <button type="submit">Book the Room</button>
                </div>
            </form> --> 
                

                <h2> 
                    Django Form
                </h2>
                <form action="", method="POST">
                    {% csrf_token %} 
                    {{form.as_p}}
                    <br>
                    <br>
                    <button type="submit">Reservar!</button>
                </form>

</body>
</html>